<div class="fixed inset-0 bg-black/50 z-50 flex items-center justify-center gap-4">
  <div class="flex flex-col justify-center items-center bg-slate-900 p-8 w-full max-w-md rounded-2xl">
    <p class="text-white text-lg pb-6">¿Desea eliminarlo permanentemente?</p>
    <div class="flex gap-8">
      <button
        class="text-red-500 cursor-pointer hover:bg-red-900 hover:text-white hover:rounded-lg hover:p-1"
        (click)="eliminarObjeto()"
      >
        Eliminar
      </button>
      <button
        class="text-white cursor-pointer hover:bg-slate-700 hover:rounded-lg hover:p-1"
        (click)="gastosService.cerrarModal()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
