<button class="cursor-pointer" (click)="toggle()">
  @if (seleccionada()) {
    <div class="">
      <img [src]="seleccionada()!.icono" class="rounded-full h-8 w-8 mr-2 object-cover" alt="" />
      <span>{{ seleccionada()!.nombre }}</span>
    </div>
  } @else {
    <span>Seleccionar empresa</span>
  }
</button>
@if (dropdown()) {
  @for (empresa of empresas(); track empresa.id) {
    <div class="" (click)="empresaElegida(empresa)">
      <img [src]="empresa.icono" class="rounded-full h-8 w-8 mr-2 object-cover" alt="" />
      <span>{{ empresa.nombre }}</span>
    </div>
  }
}
