<div class="flex flex-col justify-between h-full relative text-white">
  <div class="">
    <img src="" alt="logo" />
    <h1 id="logo" class="text-shadow-2xs text-center text-2xl tracking-wide" [class.hidden]="!isExpanded()">
      Ant Expenses
    </h1>
  </div>

  <div class="flex text-md">
    <div class="flex flex-col gap-4 mx-auto">
      <button class="navbutton" (click)="abrirModal()">
        <div class="flex items-center text-start gap-4">
          <ng-icon name="heroCreditCard" class="w-1/4" />
          <span class="w-3/4" [class.hidden]="!isExpanded()">Tarjeta</span>
        </div>
      </button>
      <button class="navbutton">
        <div class="flex items-center text-start gap-4">
          <ng-icon name="heroDocumentCurrencyDollar" class="w-1/4" />
          <span class="w-3/4" [class.hidden]="!isExpanded()">Servicio</span>
        </div>
      </button>
      <button class="navbutton">
        <div class="flex items-center text-start gap-4">
          <ng-icon name="heroPlus" class="w-1/4" />
          <span class="w-3/4" [class.hidden]="!isExpanded()">Next</span>
        </div>
      </button>
      <button class="navbutton">
        <div class="flex items-center text-start gap-4">
          <ng-icon name="heroPlus" class="w-1/4" />
          <span class="w-3/4" [class.hidden]="!isExpanded()">Algo mas</span>
        </div>
      </button>
    </div>
    <div class="flex absolute -right-4 top-1/2">
      <button class="flex items-center justify-around cursor-pointer rounded-full bg-gray-800 w-8 h-8" (click)="toggle()">
        <ng-icon name="heroArrowsRightLeft" class="w-16 h-16" />
      </button>
    </div>
  </div>

  <div class="text-center p-4">
    <button class="bg-gray-800 px-3 py-2 rounded-full cursor-pointer">
      <div class="flex items-center justify-around gap-4">
        <ng-icon name="heroArrowLeftStartOnRectangle" class="w-8 h-8" />
        <span [class.hidden]="!isExpanded()">Logout</span>
      </div>
    </button>
  </div>
</div>
