<div class="grid grid-cols-3 gap-4 items-start">
  @for (tarjeta of gastosService.tarjeta(); track tarjeta.id) {
    <div
      class="flex flex-col rounded-xl bg-gray-100 h-auto gap-4 p-4"
    >
      <div class="flex flex-row justify-end gap-4">
        <button
          class="cursor-pointer"
          (click)="gastosService.abrirModal('editarTarjeta', tarjeta.id, tarjeta)"
        >
          <ng-icon name="heroPencil" class="w-4 h-4" />
        </button>
        <button class="cursor-pointer" (click)="gastosService.eliminarTarjeta(tarjeta.id)">
          <ng-icon name="heroTrash" class="w-4 h-4" />
        </button>
      </div>
      <div class="pl-3 p-3 flex justify-between">
        <p class="text-base mb-2 font-bold truncate">{{ tarjeta.nombre }}</p>
        <h2 class="text-2xl font-bold">
          {{ tarjeta.monto | currency: 'ARS' : 'symbol' : '1.0-0' : 'es-AR' }}
        </h2>
      </div>
      <div class="flex justify-between text-xs text-primary mb-2 px-4">
        <a class="flex items-center">
          <img src="/iconos/barito.jpg" class="rounded-full h-8 w-8 mr-2 object-cover" />
          <span class="font-bold tracking-wide text-sm text-gray-700">{{ tarjeta.empresa }}</span>
        </a>
        <div class="text-sm tracking-wider text-right">
          Vencimiento: {{ tarjeta.vencimiento | date: 'dd/MM/yyyy' }}
        </div>
      </div>
      <hr class="border-gray-300" />
      @for (cuota of tarjeta.cuotas; track cuota.id) {
        <div class="flex flex-row grid-cols-3 gap-8">
          <p>{{ cuota.nombre }}</p>
          <p>{{ cuota.cuotaActual }}/{{ cuota.cuotaTotal }}</p>
          <p>{{ cuota.monto | currency: 'ARS' : 'symbol' : '1.0-0' : 'es-AR' }}</p>
        </div>
      }
      <div class="">
        <button class="border rounded-2xl px-2 py-2 cursor-pointer w-42 border-slate-700 hover:bg-teal-500 hover:text-white hover:border-teal-500" (click)="gastosService.abrirModal('cuota', tarjeta.id)">
          <div class="flex items-center justify-center text-start gap-4">
            <ng-icon name="heroPlus" class="w-1/4" />
            <span class="w-3/4">Agregar Cuota</span>
          </div>
        </button>
      </div>
    </div>
  }
</div>
