<div class="grid grid-cols-3 gap-4 items-start">
  @for (tarjeta of gastosService.tarjeta(); track tarjeta.id) {
    <div
      class="flex flex-col rounded-xl bg-gray-100 h-auto gap-4 p-4 md:w-80"
    >
      <div class="flex flex-row justify-end gap-4">
        <button
          class="cursor-pointer"
          (click)="gastosService.abrirModal('editarTarjeta', tarjeta.id, tarjeta)"
        >
          <ng-icon name="heroPencil" class="w-4 h-4" />
        </button>
        <button class="cursor-pointer" (click)="gastosService.abrirModal('confirmar', tarjeta.id)">
          <ng-icon name="heroTrash" class="w-4 h-4" />
        </button>
      </div>
      <div class="p-2 flex items-center justify-between">
        <p class="text-lg text-center font-bold">{{ tarjeta.nombre }}</p>
        <h2 class="text-2xl font-bold">
          {{ tarjeta.monto | currency: 'ARS' : 'symbol' : '1.0-0' : 'es-AR' }}
        </h2>
      </div>
      <div class="flex justify-between text-xs p-2">
        <a class="flex flex-row justify-between items-center">
          <img src="/iconos/barito.jpg" class="rounded-full h-8 w-8 mr-2 object-cover" />
          <span class="font-bold tracking-wide text-sm text-gray-700">{{ tarjeta.empresa }}</span>
        </a>
        <div class="text-sm tracking-tight text-right text-emerald-900">
          Vence: {{ tarjeta.vencimiento | date: 'dd/MM/yyyy' }}
        </div>
      </div>
      <hr class="border-gray-300" />
      @for (cuota of tarjeta.cuotas; track cuota.id) {
        <div class="grid grid-cols-4 text-sm tracking-tight text-gray-800">
          <p class="truncate">{{ cuota.nombre }}</p>
          <p class="text-center">{{ cuota.cuotaActual }}/{{ cuota.cuotaTotal }}</p>
          <p class="text-right">{{ cuota.monto | currency: 'ARS' : 'symbol' : '1.0-0' : 'es-AR' }}</p>
          <button class="cursor-pointer" (click)="gastosService.abrirModal('confirmar', tarjeta.id, tarjeta, cuota.id)">
          <ng-icon name="heroTrash" class="w-4 h-4" />
        </button>
        </div>
      }
      <hr class="border-gray-300" />
      <div class="">
        <button class="border rounded-2xl p-1 cursor-pointer border-slate-500 hover:bg-slate-200" (click)="gastosService.abrirModal('cuota', tarjeta.id)">
          <div class="flex items-center justify-center gap-1">
            <ng-icon name="heroPlus" class="w-1/4" />
            <span class="w-3/4 font-bold text-sm text-slate-800">Cuota</span>
          </div>
        </button>
      </div>
    </div>
  }
</div>
